@model IEnumerable<WebApplication4.Models.usuario>

@{
    ViewBag.Title = "Lista de Usuarios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
    <div class="box-body table-responsive">
        <p>
            @Html.ActionLink("Nuevo Artículo", "Create")
        </p>
        <table class="display table table-responsive table-bordered table-striped table-hover" id="datat">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        Tipo de Usuario
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    Usuario
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipousuario1.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idUsuario }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idUsuario })
                </td>
            </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        Tipo de Usuario
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>