@model WebApplication4.Models.articulo

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box">
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                Autores
            </dt>

            <dd>
                @{ 
                    foreach(var autor in Model.articulo_usuario)
                    {
                    <p>
                        @autor.usuario.Nombre
                        @autor.usuario.Apellido_Paterno
                        @autor.usuario.Apellido_Materno
                    </p>
                    }
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Volumen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Volumen)
            </dd>

            <dt>
                Página de Inicio
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PagInicio)
            </dd>

            <dt>
                Página Final
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PagFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Revista)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Revista)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ISSN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISSN)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                Tipo de Artículo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipoarticulo1.Nombre)
            </dd>

            <dt>
                Grupo académico
            </dt>

            <dd>
                <ul>
                    @{
                        foreach (var a in Model.articulo_grupo)
                        {
                            <li>@a.grupoacademico.Nombre</li>
                        }
                    }
                </ul>

            </dd>

            <dt>
                Subido por
            </dt>

            <dd>
                @Html.DisplayFor(model => model.usuario1.Nombre)
            </dd>

            <dt>
                Archivo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.archivo1.Nombre)
            </dd>
            @{
                if (Model.archivo1 != null)
                {
                    <dd>
                        @Html.ActionLink("Descargar", "Download", new { Url = Model.archivo1.url, name = Model.archivo1.Nombre })
                    </dd>
                }
            }            
        </dl>
    </div>
    <div class="box-footer">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.idArticulo }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
