@model IEnumerable<WebApplication4.Models.capitulolibro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archivo1.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archivo1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCapituloLibro }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCapituloLibro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCapituloLibro })
        </td>
    </tr>
}

</table>
