@model IEnumerable<WebApplication4.Models.tesis >

@{
                /**/

                ViewBag.Title = "Lista de Trabajos Recepcionales";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/loading-style.css" rel="stylesheet" />

<div onload="myFunction()">
    <div id="loader"></div>
    <div id="myDiv" style="display:none" class="animate-bottom">
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Busqueda avanzada</h3>
            </div>
            <div class="box-body">
                <form id="searchForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre:</label>
                                <input id="nombreSearch" name="Nombre" type="text" class="form-control" style="width: 100%;" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Autores</label>
                                <select class="form-control select2" name="autor" style="width:100%">
                                    <option value="">Selecciona un valor</option>
                                    @foreach (var Usuario in ViewBag.autores)
                                    {
                                        <option value="@Usuario.idUsuario">@Usuario.Nombre @Usuario.Apellido_Paterno @Usuario.Apellido_Materno</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Grupo académico</label>
                                <select class="form-control select2" multiple data-actions-box="true" name="grupos">
                                    @{
                                        if (ViewBag.grupos != null)
                                        {
                                            foreach (var Grupo in ViewBag.grupos)
                                            {
                                                <option value="@Grupo.idGrupoAcademico">@Grupo.Nombre</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Asesor</label>
                                <select class="form-control select2" name="Asesor" style="width:100%">
                                    <option value="">Selecciona un valor</option>
                                    @foreach (var Usuario in ViewBag.autores)
                                    {
                                        <option value="@Usuario.idUsuario">@Usuario.Nombre @Usuario.Apellido_Paterno @Usuario.Apellido_Materno</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha:</label>
                                <div class="input-daterange" id="">
                                    <div class="input-group">
                                        <input type="text" class="form-control pull-right datemask" name="Y1" autocomplete="off">
                                        <span class="input-group-addon">al</span>
                                        <input type="text" class="form-control pull-right datemask" name="Y2" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="searchBtn" class="btn btn-success">Buscar</button>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive">
                <div class="row margin-bottom">
                    <div class="col-sm-2">
                        @Html.ActionLink("Nueva Tesis", "Create", null, new { @class = "btn btn-large btn-success" })
                    </div>
                </div>
                @{
                    if (ViewBag.response != null)
                    {
                        switch (ViewBag.response)
                        {
                            case 1:
                                <div class="alert alert-success">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Completado!</strong> Se ha realizado correctamente la acción
                                </div>
                                break;
                            case 2:
                                <div class="alert alert-warning">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error</strong> Ha ocurrido un error al tratar de hacer la acción
                                </div>
                                break;
                        }
                    }
                }


                <div id="searchResult">
                    @{ Html.RenderPartial("_TesisPartial", Model); }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var myVar;

    function myFunction() {
        document.getElementById("loader").style.display = "block";
        document.getElementById("myDiv").style.display = "none";
        myVar = setTimeout(showPage, 1000);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }

    $(document).ready(function () {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
        $("#searchBtn").on("click", function () {
             var val = $('#searchForm').serialize();
            $.ajax({
                url: "@Url.Action("Search")",
                type: "GET",
                data: val,
                success: function (partialViewResult) {
                    myFunction();
                    $("#searchResult").html(partialViewResult);
                }
            })
        });
    });
</script>


