
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema MICRONA | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/styles")
    <link href="~/Content/bower_components/font-awesome/css/font-awesome.min.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />



    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" runat="server" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>M</b>R</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Microna</b>Repository</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/dist/img/default_user.png" class="user-image" alt="User Image">
                                @{
                                    if (Request.Cookies["userInfo"] != null)
                                    {
                                        <span class="hidden-xs">@Request.Cookies["userInfo"]["nombre"]</span>
                                    }
                                }
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @Html.ActionLink("Perfil", "Index", "Perfil", null, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                    <div class="pull-right">
                                        @Html.ActionLink("Cerrar Sesión", "Logout", "Home", null, new { @class = "btn btn-default btn-flat" })
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/dist/img/default_user.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        @{
                            if (Request.Cookies["userInfo"] != null)
                            {
                                <p>Usuario: @Request.Cookies["userInfo"]["user"]</p>
                            }
                        }
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">CONCENTRADO</li>
                    <li>
                        <a href="@Url.Action("Index", "Home", null)">
                            <i class="fa fa-briefcase"></i> <span>Concentrado Total</span>
                        </a>
                    </li>
                    <li class="header">NAVEGACIÓN</li>
                    <li class="treeview">
                        <a href="#">

                            <i class="fa fa-pencil"></i> <span>Artículos</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Articulos", null)"><i class="fa fa-circle-o"></i> Ver</a></li>
                            <li><a href="@Url.Action("Create", "Articulos", null)"><i class="fa fa-circle-o"></i> Añadir</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Trabajos Entregados</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Trabajos", null)"><i class="fa fa-circle-o"></i> Ver</a>
                            <li><a href="@Url.Action("Create", "Trabajos", null)"><i class="fa fa-circle-o"></i> Crear</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Libros</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Libro", null)"><i class="fa fa-circle-o"></i> Ver</a>
                            <li><a href="@Url.Action("Create", "Libro", null)"><i class="fa fa-circle-o"></i> Crear</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Tesis</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Tesis", null)"><i class="fa fa-circle-o"></i> Ver</a>
                            <li><a href="@Url.Action("Create", "Tesis", null)"><i class="fa fa-circle-o"></i> Crear</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Capitulo Libro</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "CapituloLibro", null)"><i class="fa fa-circle-o"></i> Ver</a>
                            <li><a href="@Url.Action("Create", "CapituloLibro", null)"><i class="fa fa-circle-o"></i> Crear</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Proyectos</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "Proyectos", null)"><i class="fa fa-circle-o"></i> Ver</a>
                            <li><a href="@Url.Action("Create", "Proyectos", null)"><i class="fa fa-circle-o"></i> Crear</a></li>
                        </ul>
                    </li>
                    @{
                        if (Request.Cookies["userInfo"] != null)
                        {
                            if (Request.Cookies["userInfo"]["tipo"].Equals("Administrador") || Request.Cookies["userInfo"]["tipo"].Equals("Super-administrador"))
                            {
                                <li class="header">ADMINISTRACIÓN</li>
                                <li>
                                    <a href="@Url.Action("Index", "Usuario")">
                                        <i class='fa fa-users'></i> <span>Usuarios</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Configure", "Home")">
                                        <i class='fa fa-users'></i> <span>Configuracion</span>
                                    </a>
                                </li>
                            }
                        }
                    }
                    <li class="header">COMENTARIOS</li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDMtzuHu5z6sjVO9MfXmWARKIx3GCY543IdPG8PsBpnIRbag/viewform?usp=sf_link">
                            <i class="fa fa-wechat"></i> <span>Comentarios o sugerencias</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title <small>- @ViewBag.Controlador</small>
                </h1>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">

                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>





        @Scripts.Render("~/bundles/bowercomponents")
        <script src="~/Content/DataTables/datatables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
        <script src="~/Content/ChartScript.js"></script>

</body>
</html>
