@model IEnumerable<WebApplication4.Models.libro>

@{
    ViewBag.Title = "Lista de Libros";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Busqueda avanzada</h3>
    </div>
    <div class="box-body">
    @using (Html.BeginForm("Index", "Libro", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input id="nombreSearch" name="Nombre" type="text" class="form-control" style="width: 100%;" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">                    
                    
                        <label>Autores</label>
                        <select class="form-control select2" style="width: 100%;" name="autores" multiple>
                            @foreach (var Usuario in ViewBag.autores)
        {
                    <option value="@Usuario.idUsuario">@Usuario.Nombre @Usuario.Apellido_Paterno @Usuario.Apellido_Materno</option>
}
                        </select>                    
                </div>
            </div>                        
            <div class="col-md-3">
                <div class="form-group">
                    <label>Año:</label>
                    <div class="input-daterange" id="">
                        <div class="input-group">
                            <input type="text" class="form-control pull-right date-picker" id="datepicker" name="Y1" autocomplete="off">
                            <span class="input-group-addon">al</span>
                            <input type="text" class="form-control pull-right date-picker" id="datepicker" name="Y2" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Grupo académico</label>
                    <select class="form-control select2" name="grupos" multiple>
                        <option value="1">Nanomateriales</option>
                        <option value="2">Aplicaciones de materiales y nanociencia</option>
                        <option value="3">Sistemas Hibridos: Nanoelectrónica, Nanobioelectrónica y Nanodispositivos</option>
                        <option value="4">Dispositivos y Circuitos Integrados basados en la Micro y Nanotecnología</option>                        
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Buscar</button>
    }
    </div>    
</div>


<div class="box">
    <div class="box-body table-responsive">
        <div class="row margin-bottom">
            <div class="col-sm-2">
                @Html.ActionLink("Nuevo Libro", "Create", null, new { @class = "btn btn-large btn-success" })
            </div>            
        </div>
        @{
            if (ViewBag.response != null)
            {
                switch (ViewBag.response)
                {
                    case 1:
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Completado!</strong> Se ha realizado correctamente la acción
                        </div>
                        break;
                    case 2:
                        <div class="alert alert-warning">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error</strong> Ha ocurrido un error al tratar de hacer la acción
                        </div>
                        break;
                }
            }
        }
        <table class="display table table-responsive table-bordered table-striped table-hover" id="datat">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        
                    </th>              
                    <th>
                        Editorial
                    </th>
                    <th>
                        País
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th>
                        Grupo Académico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Año)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @{
                            foreach (var a in item.libro_usuario)
                            {
                                <p>@a.usuario.Nombre @a.usuario.Apellido_Paterno @a.usuario.Apellido_Materno</p>
                            }
                        }
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Editorial)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.tipolibro1.Nombre)
                    </td>
                    <td>
                        @{
                            foreach (var a in item.libro_grupo)
                            {
                                <p>@a.grupoacademico.Nombre</p>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario1.Nombre)
                    </td>
                    <td>
                        @{
                            if (item.usuario1.idUsuario == int.Parse(Request.Cookies["userInfo"]["id"]))
                            {
                                <p>@Html.ActionLink("Editar", "Edit", new { id = item.idLibro }, new { @class = "btn btn-large btn-warning" })</p>
                                    using(Html.BeginForm("Delete","Libro",FormMethod.Get, null))
                                {
                                    <input hidden name="id" value="@item.idLibro"/>
                                    <p><input type="button" class="btn btn-sm btn-danger swalalert" value="Eliminar"/></p>
                                }                                            
                            }
                        }
                        <p>@Html.ActionLink("Detalles", "Details", new { id = item.idLibro }, new { @class = "btn btn-large btn-primary" })</p>
                    </td>
                </tr>
            }                                                    
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        Autores
                    </th>
                    <th>
                        Editorial
                    </th>
                    <th>
                        País
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th>
                        Grupo Académico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

