@model IEnumerable<WebApplication4.Models.trabajo>

<table class="display table table-responsive table-bordered table-striped table-hover" id="datat">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autores)
            </th>
            <th>
                Lugar de presentación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                Tipo de Trabajo
            </th>
            <th>
                Grupo academico
            </th>
            <th>
                Subido por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    @{
                        foreach (var p in item.trabajo_usuario)
                        {
                            <p>@p.usuario.Nombre @p.usuario.Apellido_Paterno @p.usuario.Apellido_Materno</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presentacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipotrabajo1.Nombre)
                </td>
                <td>
                    @{
                        foreach (var a in item.trabajo_grupo)
                        {
                            <p>@a.grupoacademico.Nombre</p>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario1.Nombre)
                </td>
                <td>
                    @{
                        if (item.usuario1.idUsuario == int.Parse(Request.Cookies["userInfo"]["id"]))
                        {
                            <p>@Html.ActionLink("Editar", "Edit", new { id = item.idTrabajo }, new { @class = "btn btn-large btn-warning" })</p>
                            using (Html.BeginForm("Delete", "Trabajo", FormMethod.Get, null))
                            {
                                <input hidden name="id" value="@item.idTrabajo" />
                                <p><input type="button" class="btn btn-sm btn-danger swalalert" value="Eliminar" /></p>
                            }
                        }
                    }
                    <p>@Html.ActionLink("Detalles", "Details", new { id = item.idTrabajo }, new { @class = "btn btn-large btn-primary" })</p>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presentacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipotrabajo1.Nombre)
            </th>
            <th>
                Grupo Academico
            </th>
            <th>
                Subido por
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>

<script>
    $(function () {
        $('#datat').DataTable();
        $(".swalalert").click(function (e) {
            e.preventDefault();
            // stop the default behavior(navigation)
            var _form = $(this).closest("form");
            //get a reference to the container form

            swal({
                title: "Esta seguro?",
                text: "Una vez elimnado no se podra recuperar este archivo",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    _form.submit();
                } else {
                    swal("Se ha cancelado la accion");
                }
            });
        })
    })
</script>