@model IEnumerable<WebApplication4.Models.trabajo>

@{
    ViewBag.Title = "Lista de Trabajos Presentados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Busqueda avanzada</h3>
    </div>
    <div class="box-body">
        @using (Html.BeginForm("Index", "Trabajos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input id="nombreSearch" name="Nombre" type="text" class="form-control" style="width: 100%;" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Autores:</label>
                        <input id="autorSearch" name="Autores" type="text" class="form-control" style="width: 100%;" />
                    </div>
                </div>                                
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Año:</label>
                        <div class="input-daterange" id="datepicker">
                            <div class="input-group">
                                <input type="number" id="min" class="form-control" name="Y1" />
                                <span class="input-group-addon">al</span>
                                <input type="number" id="max" class="form-control" name="Y2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Grupo académico</label>
                        <select class="form-control selectpicker" name="grupos" multiple>
                            @{
                                if (ViewBag.grupos != null)
                                {
                                    foreach (var Grupo in ViewBag.grupos)
                                    {
                                        <option value="@Grupo.idGrupoAcademico">@Grupo.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tipo de Trabajo</label>
                        <select class="form-control selectpicker" name="tipo" multiple data-max-options="1">
                            @{
                                if (ViewBag.tipos != null)
                                {
                                    foreach (var TipoTrabajo in ViewBag.tipos)
                                    {
                                        <option value="@TipoTrabajo.idTipoTrabajo">@TipoTrabajo.Nombre</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
        }
    </div>
</div>

<div class="box">
    <div class="box-body table-responsive">
        <p>
            @Html.ActionLink("Nuevo Trabajo", "Create")
        </p>
        <p>
            <input type="button" class="btn btn-large btn-warning" onclick="tableToExcel('datat', 'W3C Example Table')" value="Exportar a Excel">
        </p>
        @{
            if (ViewBag.response != null)
            {
                switch (ViewBag.response)
                {
                    case 1:
                        <div class="alert alert-success">
                            <strong>Completado!</strong> Se ha realizado correctamente la acción
                        </div>
                        break;
                    case 2:
                        <div class="alert alert-warning">
                            <strong>Error!</strong> Ha ocurrido un error al tratar de hacer la acción
                        </div>
                        break;
                }
            }
        }
        <table class="display table table-responsive table-bordered table-striped table-hover" id="data_trab">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autores)
                    </th>
                    <th>
                        Lugar de presentación
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pais)
                    </th>
                    <th>
                        Tipo de Trabajo
                    </th>
                    <th>
                        Grupo academico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Año)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Presentacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipotrabajo1.Nombre)
                        </td>
                        <td>
                            @{
                                foreach (var a in item.trabajo_grupo)
                                {
                                    <p>@a.grupoacademico.Nombre</p>
                                }
                            }  
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1.Nombre)
                        </td>
                        <td>
                            @{
                                if (item.usuario1.idUsuario == int.Parse(Request.Cookies["userInfo"]["id"]))
                                {
                                    <p>@Html.ActionLink("Editar", "Edit", new { id = item.idTrabajo }, new { @class = "btn btn-large btn-warning" })</p>
                                            <p>@Html.ActionLink("Eliminar", "Delete", new { id = item.idTrabajo }, new { @class = "btn btn-large btn-danger", data_toggle = "confirmation", data_btn_ok_label = "Eliminar", data_btn_cancel_label = "Cancelar", data_title = "Esta acción es irreversible", data_content = "Está seguro de eliminar este elemento? " })</p>
                                }
                            }
                            <p>@Html.ActionLink("Detalles", "Details", new { id = item.idTrabajo }, new { @class = "btn btn-large btn-primary" })</p>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autores)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Presentacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pais)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipotrabajo1.Nombre)
                    </th>
                    <th>
                        Grupo Academico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
