@model IEnumerable<WebApplication4.Models.trabajo>

@{
    ViewBag.Title = "Lista de Trabajos Presentados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="box">
    <div class="box-body table-responsive">
        <p>
            @Html.ActionLink("Nuevo Trabajo", "Create")
        </p>
        <table class="display table table-responsive table-bordered table-striped table-hover" id="datat">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autores)
                    </th>
                    <th>
                        Lugar de presentación
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pais)
                    </th>
                    <th>
                        Tipo de Trabajo
                    </th>
                    <th>
                        Grupo academico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Año)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autores)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Presentacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pais)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipotrabajo1.Nombre)
                        </td>
                        <td>
                            @{
                                foreach (var a in item.trabajo_grupo)
                                {
                                    <p>@a.grupoacademico.Nombre</p>
                                }
                            }  
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1.Nombre)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.idTrabajo }) |
                            @Html.ActionLink("Details", "Details", new { id = item.idTrabajo }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.idTrabajo })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autores)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Presentacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pais)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipotrabajo1.Nombre)
                    </th>
                    <th>
                        Grupo Academico
                    </th>
                    <th>
                        Subido por
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
